html, body {
  font-family: $font-1;
  font-weight: 400;
  color: $color-1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

img, video {
  max-width: 100%;
  height: auto;
}

button, a, [class*=button], [class*=btn], [class*=link] {
  cursor: pointer;
}

.title {
  font-size: rem-calc(32);
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 1.05em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.text-container {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.45em;
  letter-spacing: 0;

  p, ul, ol {
    margin-bottom: 1em;
  }
}

