.hero {
  position: relative;
  background: $color-3;
  &__inner {
    display: flex;
    //min-height: 692px;
  }
  &__col {
    &:first-child{
      width: calc(50% + 22px);
      @media (max-width: $xxl) {
        width: calc(50% + 150px);
      }
      @media (max-width: $lg) {
        width: 100%;
      }
    }
  }
  &__content {
    padding: 179px 71px 179px 0;
    @media (max-width: $xxl) {
      padding: 100px 40px 100px 55px;
    }
    @media (max-width: $lg) {
      padding: 55px;
    }
    @media (max-width: $md) {
      padding: 35px 30px;
    }
  }
  &__title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 40px;
    line-height: (48/40);
    @media (max-width: $md) {
      margin-bottom: 10px;
      font-size: 32px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__text {
    position: relative;
    margin-bottom: 42px;
    font-size: 27px;
    line-height: (40/27);
    @media (max-width: $md) {
      margin-bottom: 22px;
      font-size: 21px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 48px;
      width: 64px;
      background: url("../img/q-left.svg") no-repeat center/contain;
      top: 10px;
      right: calc(100% + 19px);
      @media (max-width: $xxl) {
        height: 34px;
        width: 40px;
        right: calc(100% + 15px);
      }
      @media (max-width: $md) {
        height: 18px;
        width: 20px;
        right: calc(100% + 8px);
        top: 8px;
      }
    }
    img{
      transform: translateY(16px);
      margin-left: 10px;
      width: 35px;
      @media (max-width: $xxl) {
        width: 27px;
      }
      @media (max-width: $md) {
        transform: translateY(8px);
        margin-left: 5px;
        width: 15px;
      }
    }
  }
  &__description {
    font-size: 16px;
    line-height: (24/16);
    @media (max-width: $md) {
      font-size: 12px;
    }
  }
  &__img-wrap {
    height: 100%;
    width: calc(50% - 22px);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    @media (max-width: $xxl) {
      width: calc(50% - 150px);
    }
    @media (max-width: $lg) {
      position: relative;
      width: 100%;
      bottom: unset;
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    @include object-fit(cover);
    @media (max-width: $lg) {
      max-height: 350px;
    }
    @media (max-width: $md) {
      max-height: 250px;
    }
  }
}